<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <link rel="stylesheet" href="mystyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script type="text/javascript" src="menu.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
    </head>
    <body>
        <!--
        <div>
        <h3>Página E-commerce</h3>
        <button id="btnlist" value="cargar">Listar Productos</button>
                
        </div>
        <div id="contenido">
        </div>
        -->
        <div id="content">
            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a>
                    <ul>
                        <li><a href="login.html">Jubilaci&oacute;n</a></li>
                        <li><a href="#">Pensi&oacute;n</a></li>
                        <li><a href="#">Jubilaci&oacute;n por invalidez</a></li>
                        <li><a href="#">Jubilaci&oacute;n por edad avanzada</a></li>
                    </ul>
                </li>
                <li><a href="#">Reajustes</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </body>
</html>
